#header {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgb(10, 0, 10);
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    margin-bottom: auto;
}

#header a {
    text-decoration: none;
    color: white;
}

#header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(10, 0, 10);
    gap: 40px;
    margin-right: 50px;
}

#header ul li {
    position: relative;
    list-style: none;
}

#header ul li a {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
}

#logo {
    letter-spacing: 3px;
    margin-left: 30px;
    text-transform: uppercase;
    color: white;
    transition: all 0.3s ease;
}

#logo:hover {
    transition: all 0.5s ease;
    letter-spacing: 6px;
}

#logo a {
    text-decoration: none;
    color: inherit;
}

#header ul li a:hover {
    text-decoration: none;
    color: rgb(36, 113, 60);
    font-size: 16px;
}